---
import type { HTMLAttributes } from 'astro/types';
import { cn } from '@/src/utils/index';

interface Props extends HTMLAttributes<'h1'> {
  title: string;
}

const { title, class: className, ...rest } = Astro.props;
---

<h1
  class={cn(
    'text-fill-transparent relative mb-16 bg-linear-to-b from-[#67b6ff] to-white bg-clip-text text-5xl xl:text-7xl',
    className,
  )}
  {...rest}
>
  {title}
</h1>
